

.app-icon {
    transition: all 500ms;
}

.app-icon:hover {
    z-index: 100;
    transform: scale(1.2);
    cursor: pointer;
}

.app-icon:active {
    transform: scale(1);
}

.develop-text {
}

.develop-row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.donts-list {
    text-align: left;
}

.explanation-container {
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100% */
}

.explantion-text {
    font-size: 2em;
    text-align: left;
}

.left-using-columns, .right-using-columns {
    text-align: left;
}

.using-list-container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin-bottom: 5%;
}

.using-title {
    font-weight: bold;
}

.welcome-row {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.welcome-text {
    font-size: 5em;
    font-family: sans-serif;
    font-weight: 500;
}