.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 0 3px -1px black;
  z-index: 10;
  border: 1px solid black;
}

h5.nav-title {
  margin: 1% 0;
}

.nav-title {
}

.nav-title-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-title > .nav-item {
  text-decoration: none;
  color: black;
}

.nav-title:hover {
  cursor: pointer;
  color: white;
}

.nav-items-container {
  display: flex;
  width: 50%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-item {
  display: block;
  position: relative;
  margin: 0 10px;
  border: 2px solid black;
  position: relative;
  border-radius: 10px;
  transition: all 1s;
  overflow: hidden;
  padding: 5px 10px;
  z-index: 1;
}

.nav-links {
  text-decoration: none;
  color: black;
}

.nav-links:hover,
.nav-item:hover {
  color: white;
}

.nav-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transition: all 400ms;
  z-index: -1;
  transform: translateY(100%);
}

.nav-item:hover::before {
  transform: translateY(0);
}

/* MOBILE */

.mobile-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 10px;
  background-color: black;
}

.mobile-menu-button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.mobile-nav-items-container {
  position: relative;
}

.mobile-nav-link-row {
  padding: 10px 40px;
  transition: all 500ms;
}

.mobile-nav-link-row:hover {
  box-shadow: 0 0 3px -1px black;
  cursor: pointer;
}

.mobile-nav-link-row:first-child:hover {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.mobile-nav-link-row:last-child:hover {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.mobile-nav-link-row:not(:last-child) {
  border-bottom: 1px solid black;
}

.nav-links-modal {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 3px -1px black;
}

.mobile-nav-link {
  text-decoration: none;
  color: #3498db;
  font-weight: bold;
}

