
.opaque-container {
    width: 75vw;
    margin: 0 auto;
    height: 65vh;
    box-shadow: 0 0 4px -1px black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 4% 2%;
    overflow-y: auto;
}

.opaque-container::-webkit-scrollbar {
    width: 1vw;
}

.opaque-container::-webkit-scrollbar-track {
    background-color: white;
    border-top-right-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
}

.opaque-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.25);
    border-top-right-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
}