body {
  background-color: #ecf0f1;
}
.App {
  text-align: center;
  margin-bottom: 5%;
}

.navbar {
  width: 100%;
  margin: 7% 0 4% 0;
  padding: 0;
}
.nav-title {
  display: inline-block;
  margin-left: 0;
  margin-right: 5%;
}

.nav-items-container {
  display: block;
  width: 60%;
  margin-left: 5%;
  float: right;
}

.nav-item {
  display: inline-block;
  margin: auto 0 auto 10%;
}

.nav-item>a {
  text-decoration: none;
}

.banner-bio {
  margin-top: 7%;
  text-align: left;
}


#portrait {
  width: 80%;
  border-radius: 50%;
  border: 3px solid black;
  box-shadow: 0 0 10px black;
}

#home-projects-container {
  margin-top: 7%;
}

.project-overview-imgs {
  width: 80%;
  height: 200px;
  border-radius: 20px;
  box-shadow: 0 0 20px black;
  border: 1px solid black;
}

.project-overview-imgs:hover {
  box-shadow: none;
  border: none;
}

.to-project-btn {
  padding: 5px;
  color: white;
  text-decoration: none;
  background-color: #3498db;
  border-radius: 20px;
  box-shadow: 0 0 20px black;
}

.to-project-btn:hover {
  box-shadow: none;
  background-color: #2980b9;
  color: white;
  text-decoration: underline;
}