body {
  animation: Lighten-To-Grey;
  animation-duration: 4s;
  background-color: #bdc3c7;
  color: black;
}

.project-imgs {
  animation: Float;
  animation-duration: 4s;
  width: 35%;
  margin: 5%;
  height: 100px;
  border-radius: 20px;

  box-shadow: 0 0 10px black;
  image-rendering: auto;
}

.project-short {
  width: 90%;
  margin: 5% auto;
  text-align: left;
  font-weight: 200;
}

.project-long {
  width: 90%;
  margin: 0 auto;
  text-align: left;
}

p {
  font-weight: 200;
}

.project-imgs:hover {
  box-shadow: 0 0 40px black;
}

@keyframes Float {
  0% {
    box-shadow: 0 0 10px black;
  }
  50% {
    box-shadow: 0 0 20px black;
  }
  100% {
    box-shadow: 0 0 10px black;
  }
}



@media only screen and (max-width: 405px) {
  .project-title {
    font-size: 1.75em;
  }
}

@media only screen and (min-width: 405px) {

  .project-title {
    font-size: 2em;
  }

  .project-imgs {
    width: 30%;
    height: 125px;
    margin: 5% 1.4%;
  }
}

@media only screen and (min-width: 548px) {
  .project-imgs {
    height: 150px;
  }
}

@media only screen and (min-width: 968px) {
  .project-imgs {
    width: 30%;
    margin: 5% 1.4%;
    height: 225px;
  }
}



@keyframes Lighten-To-Grey {
  from {
    background-color: black;
    color: white;
  }
  to {
    background-color: #bdc3c7;
    color: black;
  }
}

@keyframes Fix-For-Nav-Links {
  from {
    color: white;
  }
  to {
    color: black;
  }
}

.App {

  text-align: center;
  margin-bottom: 5%;
}

.navbar {
  width: 100%;
  margin: 7% 0 4% 0;
  padding: 0;
}
.nav-title {
  display: inline-block;
  margin-left: 0;
  margin-right: 5%;
}

.nav-items-container {
  display: block;
  width: 60%;
  margin-left: 5%;
  float: right;
}

.nav-item {
  display: inline-block;
  margin: auto 0 auto 10%;
}

.nav-links {
  animation: Fix-For-Nav-Links;
  animation-duration: 4s;
  text-decoration: none; 
  color: black;
}

.nav-links:hover {
  text-decoration: underline;
  color: #555;
  text-shadow: 0 0 3px black;
}

.nav-links:active {
  text-decoration: none;
  color: black;
  text-shadow: none;
}

.nav-links:visited {
  color: black; 
  text-decoration: none;
}

.banner-bio {
  margin-top: 7%;
}

.project-container {
  width: 90%;
}

#portrait {
  width: 60%;
  border-radius: 50%;
  box-shadow: 0 0 10px black;
}

#home-projects-container {
  margin-top: 7%;
}

.project-overview-imgs {
  width: 80%;
  height: 200px;
  border-radius: 20px;
  box-shadow: none;
  border: 1px solid black;
  margin-bottom: 3%;
}

.home-project-title {
  margin-top: 3%;
}

.project-overview-imgs:hover {
  box-shadow: 0 0 20px black;
  border: none;
}

.project-overview-imgs:active {
  box-shadow: none;
  border: 1px solid black;
}

.to-project-btn {
  padding: 5px;
  color: white;
  text-decoration: none;
  background-color: #3498db;
  border-radius: 20px;
  box-shadow: 0 0 20px black;
}

.to-project-btn:hover {
  color: white;
  text-decoration: underline;
}

.to-project-btn:active {
  box-shadow: none;
  background-color: #2980b9;
}

.project-short {
  width: 70%;
  margin: 5% auto;
}

#about-portrait {
  width: 40%;
  box-shadow: 0 0 10px;
  border-radius: 50%;
}

#about-name-social-row {
  margin-top: 7%;
}

#about-name {
  text-align: left;
}

.social {
  padding: 10px;
  margin: auto 10px;
}

.social:hover {
  box-shadow: 0 0 5px black;
  border: none;
}

#social-icons {
  text-align: right;
}

#about-bio {
  margin-top: 5%;
  text-align: left;
}

#quick-bio {
  text-align: left;
}

.project-title {
  margin-top: 10%;
}

/* Project Card */
.project-card {
  width: 90%;
  text-align: left;
  margin: 5% auto;
}

.project-card-img {
  width: 30%;
  margin-right: 3%;
  border-radius: 10%;
  box-shadow: 0 0 10px black;
}

.project-card-short {
  /* width: 60%; */
  display: inline-block;
}

.card-top-row {
  width: 100%;
}

.project-card-title {
  
  display: inline-block;
  width: 60%;
}

@media only screen and (max-width: 550px) {
  #social-icons {
    text-align: center;
  }
  #about-name {
    text-align: center;
  }

  #portrait {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }

  #quick-bio {
    margin-top: 5%;
    margin-bottom: 0;
  }

}