:root {
  --app-background-color: #FAF9F6;
}

body {
  background-color: var(--app-background-color);
  color: black;
  z-index: 1;
}

.app-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.App {
  text-align: center;
}

.project-imgs {
  animation: Float;
  animation-duration: 4s;
  width: 35%;
  margin: 5%;
  height: 100px;
  border-radius: 20px;
  box-shadow: 0 0 10px black;
  image-rendering: auto;
}

.project-long {
  width: 90%;
  margin: 0 auto;
  text-align: left;
}

p {
  font-weight: 200;
}

.project-imgs:hover {
  box-shadow: 0 0 40px black;
}

@keyframes Float {
  0% {
    box-shadow: 0 0 10px black;
  }
  50% {
    box-shadow: 0 0 20px black;
  }
  100% {
    box-shadow: 0 0 10px black;
  }
}



@media only screen and (max-width: 405px) {
  .project-title {
    font-size: 1.75em;
  }
}

@media only screen and (min-width: 405px) {

  .project-title {
    font-size: 2em;
  }

  .project-imgs {
    width: 30%;
    height: 125px;
    margin: 5% 1.4%;
  }
}

@media only screen and (min-width: 548px) {
  .project-imgs {
    height: 150px;
  }
}

@media only screen and (min-width: 968px) {
  .project-imgs {
    width: 30%;
    margin: 5% 1.4%;
    height: 225px;
  }
}

.banner-bio {
  margin-top: 7%;
}

.project-container {
  width: 90%;
}

#about-portrait {
  width: 25%;
  box-shadow: 0 0 10px;
  border-radius: 50%;
}



#about-name {
  text-align: left;
}

#about-bio {
  margin-top: 5%;
  text-align: left;
}

.project-title {
  margin-top: 10%;
}

/* Project Card */
.project-card {
  width: 90%;
  text-align: left;
  margin: 5% auto;
}

.project-card-img {
  width: 30%;
  margin-right: 3%;
  border-radius: 10%;
  box-shadow: 0 0 10px black;
}

.project-card-short {
  margin: 3% auto 0 auto;
}

.card-top-row {
  width: 100%;
}

.project-card-title {
  
  display: inline-block;
  width: 60%;
}

@media only screen and (max-width: 550px) {
  #social-icons {
    text-align: center;
  }
  #about-name {
    text-align: center;
  }

  #portrait {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }

  #quick-bio {
    margin-top: 5%;
    margin-bottom: 0;
  }

}